html {
    background: url(../images/background.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-backgound-size: cover;
        -o-background-size: cover;
        background-size: cover;
    background-color: rgba(92, 92, 92, 0.9);
    background-blend-mode: multiply;
}

body {
    background: none;
    background-color: transparent;
}

body,
html {
    height: 100%;
}

.jumbotron {
    min-height: 550px;
}

.container {
    min-height: 100%;
}

#start-btn {
    font-size: 30px;
    margin-top: 100px;
}

.answer-btn {
    display: block;
    max-width: 50%;
    margin: auto;
}

#play-again-btn {
    font-size: 30px;
    margin-top: 50px;
}

#question-div,
#answer-div,
#game-over-div {
    display: none;
}

