html {
    background: url(../images/background.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-backgound-size: cover;
        -o-background-size: cover;
        background-size: cover;
    background-color: rgba(92, 92, 92, 0.7);
    background-blend-mode: multiply;
}

body {
    background: none;
    background-color: transparent;
}

.jumbotron {
    min-height: 550px;
    background-color: rgb(10, 17, 30);
    border: 8px solid rgb(211, 168, 4);
    color: white;
}

.container {
    min-height: 100%;
}

#question-div,
#answer-div,
#game-over-div {
    display: none;
}

h1 {
    font-family: 'HarryP';
    font-size: 80px;
    color: rgb(211, 168, 4);
}

hr {
    border-color: rgb(211, 168, 4);
}

#start-btn {
    font-size: 30px;
    margin-top: 100px;
}

.answer-btn {
    display: block;
    max-width: 50%;
    margin: auto;
}

#play-again-btn {
    font-size: 30px;
    margin-top: 50px;
}

#start-btn,
#play-again-btn,
.answer-btn {
    background-color: rgb(10, 17, 30);
    border: 3px solid rgb(211, 168, 4);
}

#start-btn:hover,
#play-again-btn:hover,
.answer-btn:hover {
    background-color: rgb(211, 168, 4);
    border: 3px solid rgb(211, 168, 4);
}

#start-btn:active,
#play-again-btn:active,
.answer-btn:active {
    background-color: rgb(119, 95, 0) !important;
    border: 3px solid rgb(119, 95, 0) !important;
}

@font-face {
    font-family: 'HarryP';
    src: url(../fonts/HarryP.ttf);
}

